* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    max-width: 70%;
}

/* Header/Blog Title */
header {
    font-family: Algerian;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
}

h1:hover {
    transform: skewY(4deg);
    text-shadow: 50px 10px 20px rgba(0,0,0,2);
}

p {
    margin: 10px;
}

/* Create two unequal columns that floats next to each other */
.left {
    float: left;
    width: 60%;
}

.right {
    float: left;
    width: 40%;
    padding-left: 20px;
}

/* A color card*/
.card {
    background-color: lightpink;
    width: 100%;
    padding: 20px;
    height:auto;
    border-radius: 20px;
}

.skillsCard {
    background-color: lightpink;
    border: 3px solid white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

/* Add a color card effect for articles */
.articleCard {
    background-color: white;
    border: 3px solid pink;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
}

/* Clear floats after the columns */
.clear:after {
    content: "";
    display: table;
    clear: both;
}

/* Gallery */
.gallery {
    border: 3px solid pink;
    border-radius: 10px;
    float: left;
    width: 190px;
    margin: 5px;
    background-color: white;
}

.gallery img {
    width: 94%;
    height: auto;
}

.gallery:hover {
    transform: scale(2, 2);
    text-shadow: 50px 10px 20px rgba(0,0,0,2);
}

desc {
    padding: 20px;
    margin-bottom: 20px;
}

.icons {
    height: 50px;
}

.icons:hover {
    height: 60px;
}

/* Footer */
footer {
    font-family: Algerian;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}